<div class="container flex column c-ai c-jc">
    <div class="flex column c-ai c-jc" [ngStyle]="{'display': show?'none':'flex'}">
        <img src="/assets/logo.png" alt="Logo">
        <h2>سامانه ی اتوماسیون کارآموزی ققنوس</h2>
        <div class="flex wrap c-ai c-jc">
            <button style="margin: 10px;" mdc-button raised (click)="set(0)">ورود کارآموز</button>
            <button style="margin: 10px;" mdc-button raised (click)="set(1)">ورود اساتید</button>
            <button style="margin: 10px;" mdc-button raised (click)="set(2)">ورود سرپرست</button>
        </div>
        <div class="flex column footer">
            <p style="margin: 0; margin-bottom: 10px;" class="flex nowrap c-ai"><svg xmlns="http://www.w3.org/2000/svg" style="margin-left: 10px" width="20" height="20" viewBox="0 0 48 48"><path d="M13.25 21.59c2.88 5.66 7.51 10.29 13.18 13.17l4.4-4.41c.55-.55 1.34-.71 2.03-.49C35.1 30.6 37.51 31 40 31c1.11 0 2 .89 2 2v7c0 1.11-.89 2-2 2C21.22 42 6 26.78 6 8c0-1.11.9-2 2-2h7c1.11 0 2 .89 2 2 0 2.49.4 4.9 1.14 7.14.22.69.06 1.48-.49 2.03l-4.4 4.42z"/></svg><span>02833241272</span></p>
            <p style="margin: 0;" class="flex nowrap c-ai"><svg xmlns="http://www.w3.org/2000/svg" style="margin-left: 10px" width="20" height="20" viewBox="0 0 48 48"><path d="M40 8H8c-2.21 0-3.98 1.79-3.98 4L4 36c0 2.21 1.79 4 4 4h32c2.21 0 4-1.79 4-4V12c0-2.21-1.79-4-4-4zm0 8L24 26 8 16v-4l16 10 16-10v4z"/></svg><span>ghoghnoosit@gmail.com</span></p>
        </div>
    </div>
    <mdc-card  [ngStyle]="{'display': !show?'none':'block'}">
        <div class="content flex column">
            <h3>ورود <span *ngIf="index == 0">کارآموز</span><span *ngIf="index == 1">استاد</span><span *ngIf="index == 2">سرپرست</span>
            </h3>
            <p>با نام کاربری و رمزعبور می توانید وارد حساب کاربری خود شوید.</p>
            <mdc-form-field fluid>
                <mdc-text-field type="tel" [(ngModel)]="username" (keyup.enter)="submit()"
                    label="نام کاربری" outlined required autocomplete="off">
                </mdc-text-field>
                <mdc-helper-text persistent>نام کاربری شما کد ملی شما می باشد.</mdc-helper-text>
            </mdc-form-field>
            <br>
            <mdc-form-field fluid>
                <mdc-text-field type="password" [(ngModel)]="password" (keyup.enter)="submit()"
                    label="رمزعبور" outlined required autocomplete="off">
                </mdc-text-field>
                <mdc-helper-text persistent>رمزعبور شما امکان دارد کد ملی شما باشد.</mdc-helper-text>
            </mdc-form-field>
            <div class="flex nowrap c-ai">
                <div class="flex-space"></div>
                <button style="margin-left: 10px;" mdc-button [disabled]="loading" (click)="show = false">بستن</button>
                <button mdc-button secondary raised [disabled]="loading" (click)="submit()">ورود</button>
            </div>
        </div>
    </mdc-card>
</div>