<div class="background"></div>
<div class="container flex column">
    <div class="head flex nowrap c-ai">
        <button mdc-button secondary raised *ngIf="mode == 'table'" (click)="setEditable(null)">
            <mdc-icon>add</mdc-icon>افزودن
        </button>
        <mdc-select placeholder="رشته تحصیلی" *ngIf="mode == 'table'" (valueChange)="fetch($event)"
            [(ngModel)]="field">
            <mdc-menu>
                <mdc-list>
                    <div *ngFor="let item of fields">
                        <mdc-list-item [value]="item">{{item}}</mdc-list-item>
                    </div>
                </mdc-list>
            </mdc-menu>
        </mdc-select>
    </div>
    <div class="table" *ngIf="mode == 'table' && questions != null">
        <mdc-data-table>
            <table mdcDataTableTable>
                <thead>
                    <tr mdcDataTableHeaderRow>
                        <th mdcDataTableHeaderCell>سوال</th>
                        <th mdcDataTableHeaderCell>جواب صحیح</th>
                        <th mdcDataTableHeaderCell [ngClass]="['left']"></th>
                        <th mdcDataTableHeaderCell [ngClass]="['left']"></th>
                    </tr>
                </thead>
                <tbody mdcDataTableContent>
                    <tr mdcDataTableRow *ngFor="let item of questions; let i = index">
                        <td mdcDataTableCell>{{item['question']}}</td>
                        <td mdcDataTableCell>گزینه ی شماره ی {{item['answer']+1}}</td>
                        <td mdcDataTableCell [ngClass]="['left']">
                            <button mdc-icon-button icon="delete" (click)="delete(item['id'], i)"></button>
                        </td>
                        <td mdcDataTableCell [ngClass]="['left']">
                            <button mdc-icon-button icon="edit" (click)="setEditable(item)"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </mdc-data-table>
    </div>
    <mdc-card [mdcElevation]="3" *ngIf="mode == 'edit' && data != null">
        <div class="content">
            <mdc-text-field outlined label="سوال" name="question" autocomplete="off"
                    [(ngModel)]="data['question']"></mdc-text-field>
            
            <br>
            <mdc-select outlined placeholder="رشته تحصیلی" [(ngModel)]="data['field']">
                <mdc-menu>
                    <mdc-list>
                        <div *ngFor="let item of fields">
                            <mdc-list-item [value]="item">{{item}}</mdc-list-item>
                        </div>
                    </mdc-list>
                </mdc-menu>
            </mdc-select>
            <br><br>
            <mdc-form-field>
                <mdc-radio name="answer" [checked]="data['answer'] == 0" (change)="setAnswer(0)"></mdc-radio>
                <mdc-text-field label="جواب گزینه ی 1" name="answer" autocomplete="off" [(ngModel)]="data['answers'][0]"></mdc-text-field>
            </mdc-form-field>
            <br>
            <mdc-form-field>
                <mdc-radio name="answer" [checked]="data['answer'] == 1" (change)="setAnswer(1)"></mdc-radio>
                <mdc-text-field label="جواب گزینه ی 2" name="answer" autocomplete="off" [(ngModel)]="data['answers'][1]"></mdc-text-field>
            </mdc-form-field>
            <br>
            <mdc-form-field>
                <mdc-radio name="answer" [checked]="data['answer'] == 2" (change)="setAnswer(2)"></mdc-radio>
                <mdc-text-field label="جواب گزینه ی 3" name="answer" autocomplete="off" [(ngModel)]="data['answers'][2]"></mdc-text-field>
            </mdc-form-field>
            <br>
            <mdc-form-field>
                <mdc-radio name="answer" [checked]="data['answer'] == 3" (change)="setAnswer(3)"></mdc-radio>
                <mdc-text-field label="جواب گزینه ی 4 " name="answer" autocomplete="off" [(ngModel)]="data['answers'][3]"></mdc-text-field>
            </mdc-form-field>
        </div>
        <div class="buttons">
            <button mdc-button raised secondary (click)="submit()">{{data['id']?"ویرایش":"ثبت"}}</button>
            <button mdc-button (click)="mode = 'table'; data = null">لغو</button>
        </div>
    </mdc-card>
</div>