<mdc-linear-progress *ngIf="loading.show" [reversed]="true"></mdc-linear-progress>
<div *ngIf="panel == false">
    <router-outlet></router-outlet>
</div>
<div *ngIf="panel == true">
    <app-splash *ngIf="splash == true"></app-splash>
    <div *ngIf="splash == false">
        <app-header (drawer)="setDrawer($event)"></app-header>
        <div class="content" [ngClass]="{'no-drawer': drawer, 'no-drawer': path == '/panel/question'}">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>