div.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 200px;
    background-color: #363640;
    z-index: -1;
}


mdc-card{
    margin: 20px auto;
    padding: 0 20px;
    max-width: 600px;
}

h4{
    margin-bottom: 0;
}