<div class="background"></div>
<br>
<mdc-card *ngIf="questions.length != 0">
    <h4>سوال شماره ی {{question + 1}}</h4>
    <p>{{questions[question]['question']}}</p>
    <br>
    <div *ngFor="let item of questions[question]['answers']; let i = index">
        <mdc-form-field>
            <mdc-radio name="answer" [disabled]="loading.show" (change)="setAnswer(i)"></mdc-radio>
            <label>{{item}}</label>
        </mdc-form-field>
        <br>
    </div>
    <br>
    <div class="flex nowrap">
        <div class="flex-space"></div>
        <button mdc-button raised secondary [disabled]="loading.show" (click)="submit()">{{questions.length==question+1?"ثبت":"بعدی"}}</button>
    </div>
    <br>
</mdc-card>