<div class="background"></div>
<div class="flex column">
    <div class="head flex wrap c-ai">
        <span>{{data['user']['name']['first']}} {{data['user']['name']['last']}}</span>
        <div class="flex-space"></div>
        <button mdc-button raised secondary routerLink="/panel/dashboard">بازگشت</button>
    </div>
    <mdc-card [ngClass]="['chart']">
        <canvas id="score"></canvas>
    </mdc-card>
    <div class="flex column c-jc">
        <mdc-card *ngFor="let item of data['answer']; let i = index">
            <h4>سوال شماره ی {{i + 1}} <span *ngIf="item['question']['answer'] == item['answer']" class="true">صحیح</span><span *ngIf="item['question']['answer'] != item['answer']" class="false">اشتباه</span></h4>
            <p>{{item['question']['question']}}</p>
            <ul>
                <li *ngFor="let answer of item['question']['answers']; let i = index" 
                [ngClass]="{
                    'true': item['question']['answer'] == i,
                    'selected': item['answer'] == i
                }">
                {{answer}}</li>
            </ul>
        </mdc-card>
    </div>
</div>