div.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

div.background::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100vw;
    height: 200px;
    background-color: #363640;
    z-index: 1;
}

div.background::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100vw;
    height: calc(100vh);
    background-color: #fafafa;
}

div.head{
    padding: 10px 20px;
    color: #fff;
}

mdc-card{
    margin: 20px 5%;
    padding: 0 20px;
}

mdc-card.chart {
    width: 400px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

h4{
    margin-bottom: 0;
}

h4 span{
    font-weight: normal;
}

ul {
  list-style: none;
}

ul li:before {
    margin-left: 10px;
}

ul li.true:before,
ul li.selected:before {
  content: '✓';
}

li{
    margin-bottom: 7px;
    margin-right: -30px;
}

li.true:not(.selected),
h4 span.true {
    color: #00c853;
}

li.selected:not(.true),
h4 span.false {
    color: #d50000;
}

li.selected.true{
    color: #2962ff;
}